/*
 * HELPERS - VARIABLES
 */

$purple: #a36de8;
$purple-light: #b38eed;
$purple-dark: #805bbc;

$blue: #3bb5ff;
$blue-light: #6ec8ff;
//$blue: #57c7f0;
//$blue-light: #6ecff2;

$green: #00b69a;
$green-light: #00d0b0;

$pink: #ef69a7;

$orange: #faae17;