html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  background: url("img/grow.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
}
.content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  
  &.center {
    text-align: center;
  }
}

.row {
  font-size: 0;

  .col {
    display: inline-block;
    font-size: 1rem;
    position: relative;
    vertical-align: top;

    &.center {
      text-align: center;
    }
  }

  &.two > .col {
    width: 50%;

    &.two {
      width: 100%;
    }
  }
  &.three > .col {
    width: 33.33333%;

    &.two {
      width: 66.66667%;
    }
  }
  &.four > .col {
    width: 25%;

    &.two {
      width: 50%;
    }
    &.three {
      width: 75%;
    }
  }
  &.five > .col {
    width: 20%;

    &.two {
      width: 40%;
    }
    &.three {
      width: 60%;
    }
    &.four {
      width: 80%;
    }
  }
  &.six > .col {
    width: 16.66667%;

    &.two {
      width: 33.33333%;
    }
    &.three {
      width: 50%;
    }
    &.four {
      width: 66.66667%;
    }
    &.five {
      width: 83.33333%;
    }
  }

  &.center {
    text-align: center;
  }
}