.category-title {
  margin-top: 170px; //120
    
  h1 {
    margin: 0 0 1rem -3px;
  }
  p:not(".subhead") {
    color: #ddd;
  }
  .arrow {
    display: block;
  	height: 36px;
    position: relative;
      top: 0;
      left: 2px;
    margin-bottom: 1rem;
    width: 78px;
    
    &::before {
      background: $purple-dark;
      content: '';
      display: block;
      height: 50px;
      position: absolute;
        top: -8px;
        left: 18px;
      transform: rotate(50deg);
      transition: background .2s ease;
      width: 3px;
    }
    &::after {
      background: $purple-dark;
      content: '';
      display: block;
      height: 50px;
      position: absolute;
        top: -8px;
        left: 55px;
      transform: rotate(-50deg);
      transition: background .2s ease;
      width: 3px;
    }
    
    &.down {
      margin: 1rem 0 0;
      position: relative;
        left: -1px;
      transform: rotate(180deg);
    }
    
    &:hover::before,
    &:hover::after {
      background: $purple-light;
    }
  }
}