.info {
  background: $green;
  position: absolute;
    top: .5%;
    bottom: 0;
    left: 95%;
  transition: left .4s ease;
  width: 95%;
  
  .close {
    background: rgba(0, 0, 0, .05);
    border: none;
    height: 80px;
    outline: none;
    position: absolute;
      top: 0;
      right: 0;
    width: 80px;
  }
  p.subhead {
    color: #ddd;
    margin: 0 0 1rem 2px;
  }
  h1 {
    margin: -1rem 0 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
  h3 {
    margin: 0 10px .5rem 20px;
  }
  ul {
    list-style-type: none;
    margin: 0 10px 10px;
    
    li {
      border-radius: 3px;
      display: block;
      overflow: hidden;
      transition: background .2s ease;
      
      a {
        color: inherit;
        display: block;
        padding: 10px;
        text-decoration: none;
      }
      
      &:hover {
        background: rgba(0, 0, 0, .1);
      }
    }
  }
  
  &.active {
   left: 5%;
  }
}