/*
 * COMPONENTS - TAG CLOUD
 */

.tag-cloud {
  border-left: 1px solid #666;
  font-size: 0;
  line-height: 1rem;
  list-style-type: none;
  margin-top: 2.5rem;
  padding: .5rem 0 0 20px;
  
  li {
    border-radius: .7rem;
    color: #fafafa;
    display: inline-block;
    font-size: .8rem;
    font-weight: bold;
    line-height: 1rem;
    margin-right: 5px;
    overflow: hidden;
    transition: background .2s ease;
    
    a {
      color: inherit;
      display: block;
      padding: .1rem 10px;
      text-decoration: none;
    }
    
    &[data-color="My dream is"] {
      background: $blue;
      
      &:hover {
        background: $blue-light;
      }
    }
    &[data-color="My favorite class is"] {
      background: $orange;
      
      &:hover {
        background: $orange-light;
      }
    }
    &[data-color="My hobbies are"] {
      background: $pink;
      
      &:hover {
        background: $pink-light;
      }
    }
  }
}